<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @facility.name %>
</p>

<p>
  <b>Country:</b>
  <%= @facility.country_id %>
</p>

<p>
  <b>Currency:</b>
  <%= @facility.currency_id %>
</p>


<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
